{% extends 'base.html.twig' %}

{% block title %}Wild Series | {{ category.name }}{% endblock %}

{% block body %}
    <article>
        <h1>Catégorie : {{ category.name }}</h1>
        <h2>Liste des série :</h2>
        {% for program in programs %}
        <div>
            <h2>{{ program.id }} - {{ program.title }}</h2>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path('program_show', { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Auncune série trouvée.
    {% endfor %}

    </article>

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}