{% extends 'base.html.twig' %}

{% block title %}Wild Series | Les Séries{% endblock %}

{% block body %}
<h1>Index des séries :</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <img src="{{ program.poster }}" alt="{{ program.title }}" width=10% height=10%>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path('program_show', { programId: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Auncune série trouvée.
    {% endfor %}
        <a href="{{ path('app_index') }}">
        Retour à l'accueil
        </a>
{% endblock %}