{% extends 'base.html.twig' %}

{% block title %}Wild Series |{% endblock %}

{% block body %}
    <article>
        {# <img src="{{ program.poster }}" alt="{{ program.title }}"> #}
        {# <h1>Saison {{ program.season.number }} - {{ season.program.title }}</h1> #}
        {# <p>{{ program.synopsis }}</p> #}
        {# <p>{{ program.category.name }}</p> #}
        Nom de la série : {{ program.title }}
        <br>
        Saison n°{{ season.number }} <br>
        Liste des épisodes : <br>
        {% for episode in season.episodes %}
            <h4>Episode {{ episode.number }} - {{ episode.title }}</h4>
            <p>{{ episode.synopsis }}</p>
            
        {% endfor %}
        <a href="{{ path('program_show', { programId: program.id }) }}">Revenir à la liste des saisons</a>
    </article>

{% endblock %}