{% extends 'base.html.twig' %}

{% block title %}Wild Series |{% endblock %}

{% block body %}
    <article>

        Nom de la série : {{ program.title }}
        <br>
        Saison n°{{ season.number }} <br>
        Liste des épisodes : <br>
        {% for episode in season.episodes %}
            <h4>Episode {{ episode.number }} - {{ episode.title }}</h4>
            <a href="{{ path('program_episode_show', { programSlug: program.slug, number: season.number, episodeSlug: episode.slug }) }}">Détail de l'épisode {{ episode.number }}</a>            
        {% endfor %}
        <a href="{{ path('program_show', { slug: program.slug }) }}">Revenir à la liste des saisons</a>
    </article>

{% endblock %}