{% extends 'base.html.twig' %}

{% block title %}Wild Series | {{ program.title }}{% endblock %}

{% block body %}
    <article>
        <img src="{{ program.poster }}" alt="{{ program.title }}">
        <h1>Programme N°{{ program.id }} - {{ program.title }}</h1>
        <p>{{ program.synopsis }}</p>
        <p>{{ program.category.name }}</p>
    </article>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}